@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #c5c6d0;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  animation: zoom 23s;
  object-fit: cover;
  opacity: 0.5;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.content {
  margin: 3.5rem;
  max-width: 50%;
}

h1 {
  font-family: 'Mulish', serif;
}

.content h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.box-calc {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #373737;
  border-radius: 2rem 0 0;

  width: 30%;
  height: 100%;
  padding: 1rem;
}

.box-calc h1 {
  color: #c5c6d0;
  margin: 1rem;
}

input {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

button {
  width: 30%;
  border: none;
  background: #6a3093; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c5c6d0,
    #373737
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c5c6d0,
    #373737
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #000;
}

#resultado {
  color: #c5c6d0;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

#resultado h3 {
  font-family: 'Baloo Da 2', sans-serif;
}

#resultado p {
  font-family: 'Baloo Da 2', sans-serif;
}
